/* styles.css */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 200px;
}

.form {
    border: 1px solid black;
    padding: 20px;
    background: linear-gradient(0deg, #aea873, #b8842c);
}

.form label {
    display: block;
    margin-bottom: 5px;
    color:#e6dcdc;
    font-size: 37px;
}

.form textarea,
.form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form input[type="submit"]:hover {
    background-color: #0056b3;
}


.btn {
    border: none;
    width: 10em;
    height: 3.8em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #5a370e;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #e6dcdc;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#e5d667,#d1e343);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(213, 225, 74, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #dfee0d;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 
